@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
html
{
    scroll-behavior: smooth;
}
*
{
    margin: 0;
    padding: 0;
}
p
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.logo
{
    display: flex;
    justify-content: center;
}
.logo img
{
    margin-top: 50px;
    margin-bottom: 50px;
}
nav
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #ed6221;
}
nav ul
{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
nav ul li
{
    margin: 1.5rem;
}
nav ul li a
{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
nav ul li a:hover
{
    color:black ;
    border-bottom: 5px solid black;
    transition: all ease 0.3s;
}
.casa
{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    margin: auto !important;
    margin-top: 0%;
}
.casa img
{
   width: 100%;
}
.casa a {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
.panelfoto1
{
    width: 10%;
    height: 14%;
    left: 19%;
    top: 20%;
}
.panelsol2
{
    width: 9%;
    height: 14%;
    left: 41%;
    top: 15%;

}
.radiado1
{
    width: 6%;
    height: 14%;
    left:23%;
    top: 41%;
}
.radiado2
{
    width: 6%;
    height: 14%;
    left: 43%;
    top: 41%;
}
.toalleros
{
    width: 8%;
    height: 14%;
    left: 30%;
    top: 41%;
}
.caldera
{
    width: 7%;
    height: 26%;
    left: 55%;
    top: 40%;
}
.pisoradpart1
{
    width: 36%;
    height: 6%;
    left: 19%;
    top: 75%;
}
.pisoradpart2
{
    width: 4%;
    height: 10%;
    left: 20%;
    top: 80%;
}
.calePiscina
{
    width: 5%;
    height: 16%;
    left: 63%;
    top: 61%;
    
}
.bombCalorPiscina
{
    width: 5%;
    height: 16%;
    left: 81%;
    top: 61%;
}
.grupelec
{
    width: 5%;
    height: 16%;
    left: 13%;
    top: 61%;
}
.p1
{
    top: 4%;
}
.p2
{
    top: 10%;
}
.p3
{
    top: 16%;
}
.p4
{
    top: 22%;
}
.p5
{
    top: 28%;
}
.p6
{
    top: 34%;
}
.p7
{
    top: 40%;
}
.p8
{
    top: 46%;
}
.p9
{
    top: 52%;
}
.genserv
{
    width: 30%;
    height: 5%;
    left: 70%;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 1vw;
}
.genserv:hover
{
    background-color: #f9520B;
    transition: all ease 1s;
}
.num
{
    width: 5%;
    margin-left: 5px;
}
.text-serv
{
    width: 95%;
}
.nosotrosSection
{


    margin-top: 100px;
    width: 100%;
    position: relative;
}

.nosotrosSection img
{
    width: 100%;
}


.sec-sob1
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 3%;
    width: 24%;
    height: 90%;
    background-color: #505050cd;
}
.sec-sob1 h1
{
    width: 100%;
    text-align:center;
    font-size: large;
    padding: 40px 0 25px 0;
    font-size: 2.5vw;
    color: #ed6221;
    font-weight: bold;
}
.sec-sob1 .part1
{
    font-size: 1.3vw;
    text-align:left;
    width: 80%;
    color: white;
    margin-top: 15px;
}
.sec-sob1 .part2
{
    font-size: 1.3vw;
    text-align:left;
    width: 80%;
    color: white;
}
.sec-sob2
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 30%;
    left: 75%;
    width: 20%;
    background-color: #ed6221;
    padding: 20px 10px 20px 10px;
}
.sec-sob2 h2
{
    width: 70%;
    text-align: left;
    font-size: 1.7vw;
    color: white;
}
.sec-sob2 p
{
    color: black;
    font-size: 1.3vw;
    margin-top: 10px;
    text-align: left;
}
.infonos
{
    display: flex;
    justify-content: center;
}
.izq-infonos
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding: 50px 0 50px 0 ;
    }
    .izq-infonos h2
    {
        color:#ed6221 ;
        font-size: 1.7vw;
    }
    .izq-infonos p
    {
        font-size: 1.3vw;
    }
    .uno-infonos
    {
        padding: 0 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .dos-infonos
    {
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .der-infonos
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
        padding: 50px 0 50px 0 ;
    }
    .der-infonos h2
    {
        font-size: 1.7vw;
        color:#ed6221 ;
    }
    .der-infonos p
    {
        font-size: 1.3vw;
    }
    .tres-infonos
    {
        padding: 0px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .content-text-infonos
    {
        padding:60px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .content-img img
    {
        width: 85%;
        height: 20vh;

    }
    .content-img 
    {
        display: flex;
        justify-content: center;
    }
    .content-img img
    {
        width: 80%;
        height: 35vh;

    }
    .title-gal
    {
        margin-top: 10px;
        text-align: left;
        font-size: 1.5vw;
        width: 100%;
    }
    .title-gal h2
    {
        padding: 40px 0px 40px 150px;
        color: white;
        border-bottom: 5px solid white;
        background-color:  #717171;
        font-size: 2vw;
    }
    .ro
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0 0 150px 0;
    }
    .col
    {
        width: 20vw;
        height: 30vh;

    }
    .col img
    {
        width: 100% ;
        height: 100%;


    }
    .col a:hover img
    {
        filter: blur(5px);
    }
    .light-box
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
        transition: transform .3s ease-in-out;
        width: 100%;
        height: 100vh;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
    }
    .light-box img
    {
        width:45vw;
        max-height: 75vh;
    }
    .light-box:target{
        transform: scale(1);
    }
    .close
    {
        display: block;
        position: absolute;
        top: 40px;
        right: 100px;
        font-size: 1.3vw;
        padding: 10px 15px 10px 15px ;
        background-color: #c3c3c3;
        color: black;
        text-decoration: none;
        border-radius: 50%;
    }
    .next
    {
        display: block;
        background-color: #c3c3c3;
        color: black;
        padding: 10px;
        text-align: center;
        font-size: 1.2vw;
        border-radius: 50%;
    }
    .services-padre{
        
        width: 100%;
    }
    .services-padre h2
    {
        padding: 40px 0px 40px 150px;
        font-size: 2vw;
        color: white;
        background-color:  #717171;
    }
    .sectionimgtextservice
    {
        display: flex;
        align-items: center;
        margin-left: 50px;
    }
    .sectionimgtextservice img
    {
        width: 250px;
        height: 250px;
        border-right: 2px solid #ed6221;
        padding: 0 60px 0 0;
    }
    .sectionimgtextservice p
    {
        width:70%;
        font-size: 1.7vw;
        text-align: left;
        margin-left: 3em;
    }

        

    .hijo-service h3
    {
        margin-left: 2em;
        margin-bottom: 1.5em;
        margin-top: 6em;
        margin-bottom: 1em;
        font-size: 1.2vw;
    }
    .form-padre
    {
        background-image: url(/img/panelesfotovocontact.jpeg);
        background-size: cover;
        background-attachment: fixed;
        padding: 60px 0 700px 0;
        margin-bottom: 10px;
        margin-top: 350px;
        position: relative;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    .form
    {
        position:absolute;
        background-color: rgba(255, 255, 255, 0.531);
        width: 80%;
        top: 10%;
        height: 80%;
    }
    legend
    {
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
    padding: 70px 0 0 0;
    }
    fieldset
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 30em;
        border: none;
    }
    .formsec1
    {   
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .formsec2
    {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .col-12
    {
        display: flex;
        justify-content: center;
        width: 100%;  
    }
    .col-8
    {
        width: 80%;
        margin-top: 2em;
        padding: 2em;
        border: none;
    }
    textarea
    {
        resize: none;
    }
    .col-121
    {
        text-align:center;
    }
    .btn-send
    {
        padding: 17px 100px 17px 100px;
        border: none;
        background-color: #f9520B;
        color: white;
        font-size: .9vw;
    }
    .hijo-info
    {
        width: 100%;
        background-color: #717171;
        padding: 10px 0 10px 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: white;
    }
    .phone
    {
        display: flex;
        align-items: center;
        width: 90%;
        padding: 15px 0 15px 0;
    }
    .phone p
    {
        font-size:1vw;
    }
    .mail
    {
        width: 90%;
        display: flex;
        align-items: flex-start;
    }
    .mail p
    {
        font-size: 1vw;
    }
    .ig
    {
        display: flex;
        align-items: center;
        width: 90%;
        padding: 15px 0 0px 0;
    }

    .ig a
    {
        text-decoration: none;
        color: white;
        font-size: 1vw;
    }
    .up
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #717171;
        text-align: center;
        padding: 0 0 10px 0;
    }
    .up a
    {
        text-decoration: none;
        color: white;
        font-size: 1vw;
    }
    .fa-phone
    {
        padding: 0 30px 0 0;
        font-size: 1vw;
    }
    .fa-envelope
    {
        padding: 0 30px 0 0;
        font-size: 1vw;
    }
    .fa-instagram
    {
        padding: 0 30px 0 0;
        font-size: 1vw;
    }
    .wspp-flotante a
    {
        color: white;
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 500;
        background-color: #0df053;
        border-radius: 50%;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        padding: 2em;
    }
    .wspp-flotante a:hover
    {
        background-color: white;
        color:#0df053 ;
    }
    .fa-whatsapp
    {
        font-size: 2.4vw;
    }
    .boton
    {
        opacity:0;

    }
@media screen  and (max-width:1200px)
{
    .services-padre h2
    {
        font-size: 2.9vw;
    }
    .title-gal h2
    {

        font-size: 2.9vw;
    }
    .sectionimgtextservice img
    {
        width: 200px;
        height: 200px;
        border-right: 2px solid #ed6221;
        padding: 0 60px 0 0;
    }
} 


@media screen  and (max-width:1024px) and (orientation:landscape)
{
    .light-box img
    {
        width:85vw;
        max-height: 85vh;
    }
    .genserv
    {
        font-size: 1.2vw;
    }
    .izq-infonos h2
    {
        color:#ed6221 ;
        font-size: 1.9vw;
    }
    .izq-infonos p
    {
        font-size: 1.5vw;
    }
    .der-infonos h2
    {
        color:#ed6221 ;
        font-size: 1.9vw;
    }
    .der-infonos p
    {
        font-size: 1.5vw;
    }
    .services-padre h2
    {
        font-size: 2.9vw;
    }
    .title-gal h2
    {

        font-size: 2.9vw;
    }
    .phone p
    {
        font-size:1.6vw;
    }
    .mail p
    {
        font-size: 1.6vw;
    }
    .ig a
    {
        font-size: 1.6vw;
    }
    .up a
    {
        font-size: 1.6vw;
    }
    .fa-phone
    {
        padding: 0 30px 0 0;
        font-size: 1.6vw;
    }
    .fa-envelope
    {
        padding: 0 30px 0 0;
        font-size: 1.6vw;
    }
    .fa-instagram
    {
        padding: 0 30px 0 0;
        font-size: 1.6vw;
    }
    .btn-send
    {

        font-size: 1.4vw;
    }
    .wspp-flotante a
    {
        padding: 1em;
    }
    .fa-whatsapp
    {
        font-size: 4vw;
    }
    .close
    {
      
        top: 20px;
        right: 20px;

    }
        
}
@media screen  and (max-width:842px) 
{
    .close
    {

        top: 15px;
        right: 15px;
    }
    nav ul li
    {
        margin: 0.8rem;
    }
    .sec-sob1 h1
    {
        width: 100%;
        text-align:center;
        font-size: large;
        padding: 20px 0 13px 0;
        font-size: 3vw;
        color: #ed6221;
        font-weight: bold;
    }
    .sec-sob1 .part1
    {
        font-size: 1.4vw;
        margin-top: 0px;
    }
    .sec-sob1 .pisoradpart2
    {
        font-size: 1.4vw;
    }
    .sec-sob2
    {
        top: 20%;
    }
    .sec-sob2 h2
    {
        font-size: 2vw;
    }
    .sec-sob2 p
    {
        font-size: 1.8vw;
    }
    
    .izq-infonos h2
    {
        color:#ed6221 ;
        font-size: 2.9vw;
    }
    .izq-infonos p
    {
        font-size: 1.9vw;
    }
    .der-infonos h2
    {
        color:#ed6221 ;
        font-size: 2.9vw;
    }
    .der-infonos p
    {
        font-size: 1.9vw;
    }
    
    .sectionimgtextservice
    {

        margin-left: 20px;
    }
    .sectionimgtextservice img
    {
        width: 150px;
        height: 150px;
        padding: 0 20px 0 0;
    }
    .sectionimgtextservice p
    {
        font-size: 1.9vw;
        margin-left: 1em;
    }
    .hijo-service h3
    {

        font-size: 2.5vw;
    }
    legend
    {
    font-size: 2.7vw;
    
    }
    .btn-send
    {

        font-size: 1.9vw;
    }
    .phone p
    {
        font-size:2vw;
    }
    .mail p
    {
        font-size: 2vw;
    }
    .ig a
    {
        font-size:2vw;
    }
    .up a
    {
        font-size: 2vw;
    }
    .fa-phone
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .fa-envelope
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .fa-instagram
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .wspp-flotante a
    {
        padding: 1em;
    }
    .fa-whatsapp
    {
        font-size: 4vw;
    }
    .light-box img
    {
        width:85vw;
        max-height: 85vh;
    }

}

@media screen  and (max-width:768px) 
{
    .close
    {

        top: 70px;
        right: 20px;
    }
    nav ul li
    {
        margin: 0.8rem;
    }
    .sec-sob1 h1
    {
        width: 100%;
        text-align:center;
        font-size: large;
        padding: 20px 0 13px 0;
        font-size: 3vw;
        color: #ed6221;
        font-weight: bold;
    }
    .sec-sob1 .part1
    {
        font-size: 1.4vw;
        margin-top: 0px;
    }
    .sec-sob1 .pisoradpart2
    {
        font-size: 1.4vw;
    }
    .sec-sob2
    {
        top: 20%;
    }
    .sec-sob2 h2
    {
        font-size: 2vw;
    }
    .sec-sob2 p
    {
        font-size: 1.8vw;
    }
    
    .izq-infonos h2
    {
        color:#ed6221 ;
        font-size: 2.9vw;
    }
    .izq-infonos p
    {
        font-size: 1.9vw;
    }
    .der-infonos h2
    {
        color:#ed6221 ;
        font-size: 2.9vw;
    }
    .der-infonos p
    {
        font-size: 1.9vw;
    }
    
    .sectionimgtextservice
    {

        margin-left: 20px;
    }
    .sectionimgtextservice img
    {
        width: 150px;
        height: 150px;
        padding: 0 20px 0 0;
    }
    .sectionimgtextservice p
    {
        font-size: 1.9vw;
        margin-left: 1em;
    }
    .hijo-service h3
    {

        font-size: 2.5vw;
    }
    legend
    {
    font-size: 2.7vw;
    
    }
    .btn-send
    {
        padding: 17px 50px 17px 50px;
        font-size: 1.9vw;
    }
    .phone p
    {
        font-size:2vw;
    }
    .mail p
    {
        font-size: 2vw;
    }
    .ig a
    {
        font-size:2vw;
    }
    .up a
    {
        font-size: 2vw;
    }
    .fa-phone
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .fa-envelope
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .fa-instagram
    {
        padding: 0 30px 0 0;
        font-size: 2vw;
    }
    .wspp-flotante a
    {
        padding: 1em;
    }
    .fa-whatsapp
    {
        font-size: 4vw;
    }
    .col
    {
        width: 20vw;
        height: 20vh;

    }
    

}
@media screen  and (max-width:760px)
{
    .form
    {

    width: 100%;

    }
} 

@media screen  and (max-width:600px)  and (orientation: portrait)
{
    .close
    {

        top: 130px;
        right: 20px;
    }
    nav ul li
    {
        margin: 0.8rem 0.3rem 0.8rem 0.3rem;
    }
    .izq-infonos h2
    {
        color:#ed6221 ;
        font-size: 3.5vw;
    }
    .izq-infonos p
    {
        font-size: 2.2vw;
    }
    .der-infonos h2
    {
        color:#ed6221 ;
        font-size:  3.5vw;
    }
    .der-infonos p
    {
        font-size: 2.2vw;
    }
    .sectionimgtextservice p
    {
        font-size: 2.3vw;
        margin-left: 1em;
    }
    .hijo-service h3
    {

        font-size: 2.9vw;
    }
    .phone p
    {
        font-size:2.5vw;
    }
    .mail p
    {
        font-size: 2.5vw;
    }
    .ig a
    {
        font-size:2.5vw;
    }
    .up a
    {
        font-size: 2.5vw;
    }
    .fa-phone
    {
        padding: 0 30px 0 0;
        font-size: 2.5vw;
    }
    .fa-envelope
    {
        padding: 0 30px 0 0;
        font-size: 2.5vw;
    }
    .fa-instagram
    {
        padding: 0 30px 0 0;
        font-size: 2.5vw;
    }
    .wspp-flotante a
    {
        padding: 1em;
    }
    .fa-whatsapp
    {
        font-size: 5vw;
    }
    .col
    {
        width: 30vw;
        height: 20vh;
    
    }
}
@media screen  and (max-width:542px)  and (orientation: portrait)
{
    .logo img
    {
        width: 270px;
        height: 100px;
    }

    .col-8
    {
        width: 70%;
        margin-top: 2em;
        padding: 2em;
        border: none;
    }
}

@media screen  and (max-width:480px)  and (orientation: portrait)
{


    .next
    {

        font-size: 2vw;

    }
    .close
    {
        font-size: 2vw;

        top: 180px;
        right: 20px;
    }
    .sec-sob1 h1
    {
        padding: 10px 0 6px 0;
    }
    .sec-sob1 .part1
    {
        font-size: 1.4vw;
    }
    .sec-sob1 .pisoradpart2
    {
        font-size: 1.4vw;
    }
    .izq-infonos h2
    {
        font-size: 3vw;
    }
    .izq-infonos p
    {
        font-size: 2vw;
    }
    .der-infonos h2
    {
        font-size: 3vw;
    }
    .der-infonos p
    {
        font-size: 2vw;
    }
    .content-img img
    {
        width: 85%;
        height: 20vh;

    }
    .title-gal h2
    {
        padding: 40px 0px 40px 30px;
        font-size: 4vw;
    }
    .services-padre h2
    {
        padding: 40px 0px 40px 30px;
        font-size: 4vw;
    }
    .sectionimgtextservice img
    {
        width: 80px;
        height: 80px;
        border-right: 2px solid #ed6221;

    }
    .sectionimgtextservice p
    {
        font-size: 2.8vw;
    }

        

    .hijo-service h3
    {
        margin-left: 2em;
        margin-bottom: 1.5em;
        margin-top: 6em;
        margin-bottom: 1em;
        font-size: 3.1vw;
    }

    legend
    {
    font-size: 3.6vw;

    }
    .btn-send
    {

        font-size: 2.9vw;
        padding: 17px 50px 17px 50px;
    }
    .ro
    {

        padding: 0 0 30px 0;
    }


}

@media screen  and (max-width:360px)  and (orientation: portrait)
{
    .col-8
    {
        width: 60%;
        margin-top: 2em;
        padding: 2em;
        border: none;
    }
    legend
    {
    font-size: 4.5vw;

    }
}
@media screen  and (max-width:320px)  and (orientation: portrait)
{
    .close
    {

        top: 250px;
        right: 20px;
    }

    .logo img
    {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 150px;
        height: 40px;
    }
    nav ul li
    {
        margin: 0rem 0.5rem 0rem 0.5rem;
    }
    nav ul li a
    {
        font-size: 3vw;
    }
    .sec-sob2
    {
        left: 73%;
        top: 10%;
    }

    .title-gal h2
    {
        padding: 10px 0px 10px 30px;

    }
    .services-padre h2
    {
        padding: 10px 0px 10px 30px;
    }
    .col
    {
        width: 45vw;
        height: 20vh;
    
    }
    .phone p
    {
        font-size:3.5vw;
    }
    .mail p
    {
        font-size: 3.5vw;
    }
    .ig a
    {
        font-size:3.5vw;
    }
    .up a
    {
        font-size: 3.5vw;
    }
    .fa-phone
    {
        padding: 0 10px 0 0;
        font-size: 3.5vw;
    }
    .fa-envelope
    {
        padding: 0 10px 0 0;
        font-size: 3.5vw;
    }
    .fa-instagram
    {
        padding: 0 10px 0 0;
        font-size: 3.5vw;
    }
    .wspp-flotante a
    {
        padding: 1em;
    }
    .fa-whatsapp
    {
        font-size: 7vw;
    }
    
}